@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  #app {
    height: 100%;
  }

  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Arxa fonun rəngi */
  color: #fff; /* Düymə rəngi */
  padding: 10px;
  border-radius: 50%;
}

.swiper-button-prev {
  left: 10px; /* Sol tərəf */
}

.swiper-button-next {
  right: 10px; /* Sağ tərəf */
}

.swiper-button-prev, .swiper-button-next {
  font-size: 18px; /* Şrift ölçüsü */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  